
.countryHome__main-content{
    
    background-color: var(--data-color-primary);
    height: auto;
    padding: 1rem;
    width: 100%;
}

.countryHome__wrapper{
    margin-top: 2rem;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lighten($color: #BAC0CA, $amount: 10);
}
 
@media (min-width: 700px) { 
    .countryHome__wrapper{
        margin-top: 1rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 3rem ;
    }

    .countryHome__main-content{
        padding: 4rem;
    }
}

